html{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
header {
    background-color: #6F444C;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;/*comentario*/
    font-weight: 400;
}
header span {
    font-weight: 200;
h1 {
    

}
nav {

}