html{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
  }
*, *::before, *::after {
    box-sizing: inherit;
}
header {
    background-color: #6F444C;
    color: #FFFFFF;
    display: flex;
    font-family: 'Montserrat', sans-serif;/*comentario*/
    font-weight: 400;
}
header span {
    font-weight: 200;
}
header a {
    color: #FFFFFF;
    text-decoration: none;
}
header li {
    display: inherit;
}