html{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
header {
    font-family: 'Montserrat', sans-serif;/*comentario*/
    font-size: 1.2em;
    font-weight: 400;
    background-color: #6F444C;
}
header ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
header li {
    flex: 1;
    margin: 0 1em;
    padding: .25em;
    text-align: center;
    list-style-type: none;
/*    border: 1px solid #fff;*/
}
header a {
    color: #FFFFFF;
    text-decoration: none;
}
header img {
    height: 2.4em;
}
.nomargin {
    margin: 0;
}